.subHomeContainerStyle {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px #ccc7c7;
}

/* destinationHomesubDiv styles */

.destinationHomesubDiv {
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
}







/* checkinDiv styles */

.checkinDiv {
    width: 280px;
    padding: 0 10px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.checkinDiv>div>h4 {
    margin-top: -5px;
}

/* roomandguestDiv styles */

.roomandguestDiv {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid silver;
    padding-right: 10px;
}

.roomandguestDiv>div {
    margin-left: -30px;
}

.roomandguestDiv>span {
    cursor: pointer;
}

/*SearchIconWrapper styles  */

.SearchIconWrapper {
    background-color: #3264FF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;

}


/* flight components styles */

.flightContainer {
    width: 100%;
    min-height: 150px;
}

.flightTopBar {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flightDownContainer {
    width: 100%;
    height: 70px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.flightInputContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: space-between;
    border-right: 1px solid silver;
    padding: 0 10px;
}



.flightIconAndInputContainer {
    width: 60%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.flightIconWrapper {
    background-color: #fff;
    padding: 5px;
    box-shadow: 1px 1px 5px 1px #d8d2d2;
    border-radius: 5px;
}

.flightIcon {
    font-size: 18px;
    color: #3264FF;
}

.flightDateContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.flightSearchIconBtn {
    background-color: #3264FF;
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* memberComp styles */

.memberComp {
    display: flex;
    align-items: center;
}

.memberComp>p {
    margin: 0 8px;
}

.memberCompIcon {
    font-size: 18px;
}

@media(max-width:1250px) {
    .extraDestinatinDivStyle {
        width: 140px;
        margin-left: -20px;
    }
}

@media(max-width:1100px) {
    .checkinDiv {
        width: 220px;

    }

    .checkinDiv>div>h4 {
        margin-top: -5px;
        font-size: 15px;
        font-weight: 500;
    }

    .roomandguestDiv {
        width: 150px;
        padding-left: 10px;
    }

    .roomandguestDiv>div>p:first-child {
        margin-bottom: -5px;
    }
}


@media(max-width:980px) {
    .subHomeContainerStyle {
        display: block;
        overflow: visible;
        min-height: 300px;
        width: 100%;
        padding: 10px 0;
        border: none;
    }

    .destinationHomesubDiv {
        width: 100%;
        padding: 0 10px;
        height: 60px;
    }

    .destinationHomesubDiv>input {

        width: 80%;
    }

    .destinationHomesubDiv>p {
        margin-bottom: 6px;
    }

    .roomandguestDiv {
        width: 97.5%;
        border: none;
        border-bottom: 1px solid silver;
        padding: 0 10px;
        height: 80px;

    }

    .roomandguestDiv>div {
        margin-left: 0px;
    }

    .roomandguestDiv>span {
        padding-right: 10px;
    }

    .checkinDiv {
        width: 100%;
        border: none;
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
        padding: 0 0px;
        overflow: hidden;
        height: 80px;
    }

    .checkinDiv>div {
        padding: 0 10px;
        padding-right: 20px;
    }

    .extraDestinatinDivStyle {
        width: 100%;
        margin-left: 0;
    }

    .SearchIconWrapper {
        display: none;
    }
}


@media(max-width:900px) {



    .flightIconAndInputContainer {
        width: 70%;
    }


    .flightIcon {
        font-size: 16px;
    }

    .flightDateContainer {
        width: 30%;
    }

    .flightSearchIconBtn {
        width: 10%;
    }
}

@media(max-width:767px) {


    .flightTopBar {
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flightContainer {
        min-height: 100px;
        padding-bottom: 20px;
    }

    .flightDownContainer {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 10px;
    }


    .flightInputContainer {

        width: 97%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        border-right: none;
        padding: 0 10px;
        border-bottom: 1px solid silver;
    }

    .flightIconAndInputContainer {
        width: 100%;
    }


    .flightDateContainer {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 10px;
    }

    .flightSearchIconBtn {
        display: none;
    }
}

@media(max-width:600px) {
    .flightTopBar {
        width: 90%;
    }
}

@media(max-width:450px) {
    .flightTopBar {
        width: 100%;
    }

    .memberCompIcon {
        font-size: 14px;
    }

    .memberComp>p {
        font-size: 14px;
    }
}

@media(max-width:400px) {
    .flightIconWrapper {
        display: none;
    }
}

@media(max-width:360px) {
    .memberCompIcon {
        font-size: 13px;
    }

    .memberComp>p {
        font-size: 13px;
    }
}