.searchBar {
    display: flex;
    align-items: center;
    height: 31px;
    width: 100%;
    border-radius: 2px;
}

.searchBar>input {
    outline: none;
    width: 84%;
    height: 100%;
    border: 1px solid #bbb;
    padding-left: 10px;
    font-size: 15px;
}

.searchBar>span {
    display: flex;
    background-color: #3264FF;
    height: 100%;
    width: 16%;
    padding: 2px;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;

}

/* textcomp styles */
.textCompContainer {
    text-align: center;
}



/* downnav styles */

.menuNavDiv {
    position: relative;
    display: none;
    margin-left: 20px;
}

.menuNavDiv>div {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.menuNavDiv>div>h4 {
    font-size: 16px;
    font-weight: 400;
}

.menuNavDiv>div>span {
    margin-top: 10px;
    margin-left: 3px;
}

.smallScreenNavItem {
    list-style: none;
    background-color: #fff;
    position: absolute;
    width: 300px;
    min-height: 300px;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px #d0cccc;
}

.smallScreenNavItem>li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.smallScreenNavItem>li:hover {
    color: #3264FF;
}

.downnavBar {
    height: 70px;
    display: flex;
    align-items: center;
}


.downnavBar>ul {
    list-style: none;
    display: flex;
}

.downnavBar>ul>li:first-child {
    margin-left: -18px;
}

.downnavBar>ul>li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

}

.downnavBar>ul>li:hover {
    color: #3264FF;

}

/* multi carousel styles */

.carouselImageWrapper {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.carouselImageWrapper>img {
    width: 100%;
    height: 100%;
}

.carouselImageWrapper>img:hover {
    transform: scale(1.1);
    transition: 1s;
}




/* tour styles */

.tourWrapper {
    margin: 10px 10px;
    width: 265px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #e6e1e1;

}

.tourWrapper>img {
    width: 100%;
    height: 150px;
}

.tourDetailsBtnContainer {
    padding: 10px;
    margin-top: -20px;
}

.TourDetailsBtnStyles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(203, 193, 193);
    height: 35px;
    padding: 0px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.TourDetailsBtnStyles:hover {
    border: 1px solid rgb(99, 216, 216);
}

.TourDetailsBtnStyles>div {
    display: flex;
    align-items: center;

}

.TourDetailsBtnStyles>div>p {
    margin-left: 20px;
    font-size: 14px;
}


@media(max-width:880px) {
    .searchBar {
        height: 25px;
        width: 100%;
        border-radius: 2px;
    }
}

@media(max-width:1024px) {
    .carouselImageWrapper {
        width: 450px;
    }
}

@media(max-width:1000px) {
    .downnavBar>ul>li {
        margin-right: 10px;
        font-size: 15px;

    }
}

@media(max-width:970px) {
    .carouselImageWrapper {
        width: 400px;
    }
}

@media(max-width:860px) {


    .carouselImageWrapper {
        width: 360px;
        margin-left: 30px
    }
}

@media(max-width:767px) {


    .carouselImageWrapper {
        width: 300px;
        margin-left: 30px;
    }
}


@media(max-width:740px) {
    .downnavBar>ul>li {
        margin-right: 10px;
        font-size: 13px;

    }
}


@media(max-width:640px) {
    .downnavBar>ul {
        display: none;
    }

    .menuNavDiv {
        display: block;
    }


    .carouselImageWrapper {
        width: 250px;
        height: 150px;
        margin-left: 30px;
    }
}

@media(max-width:550px) {


    .carouselImageWrapper {
        width: 220px;
        height: 150px;
    }
}

@media(max-width:500px) {


    .carouselImageWrapper {
        width: 400px;
        height: 180px;
        margin-left: 20px;
    }
}

@media(max-width:450px) {

    .carouselImageWrapper {
        width: 350px;
        height: 160px;
        margin-left: 20px;
    }

}

@media(max-width:420px) {
    .carouselImageWrapper {
        width: 350px;
        height: 160px;
        margin-left: 20px;
    }

}

@media(max-width:400px) {


    .carouselImageWrapper {
        width: 320px;
        height: 160px;
        margin-left: 20px;
    }

}

@media(max-width:380px) {


    .carouselImageWrapper {
        width: 300px;
        height: 160px;
        margin-left: 20px;
    }

}