.searchBar {
    display: flex;
    align-items: center;
    height: 31px;
    width: 100%;
    border-radius: 2px;
}

.searchBar>input {
    outline: none;
    width: 84%;
    height: 100%;
    border: 1px solid #eae6e6;
    padding-left: 10px;
    font-size: 15px;
}

.searchBar>span {
    display: flex;
    background-color: #3264FF;
    height: 100%;
    width: 16%;
    padding: 2px;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;

}

/* textcomp styles */
.textCompContainer {
    text-align: center;
}



/* downnav styles */

.menuNavDiv {
    position: relative;
    display: none;
    margin-left: 20px;
}

.menuNavDiv>div {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.menuNavDiv>div>h4 {
    font-size: 16px;
    font-weight: 400;
}

.menuNavDiv>div>span {
    margin-top: 10px;
    margin-left: 3px;
}

.smallScreenNavItem {
    list-style: none;
    background-color: #fff;
    position: absolute;
    width: 300px;
    min-height: 300px;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px #eae6e6;
}

.smallScreenNavItem>li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.smallScreenNavItem>li:hover {
    color: #3264FF;
}

.downnavBar {
    height: 70px;
    display: flex;
    align-items: center;
}


.downnavBar>ul {
    list-style: none;
    display: flex;
}

.downnavBar>ul>li:first-child {
    margin-left: -18px;
}

.downnavBar>ul>li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

}

.downnavBar>ul>li:hover {
    color: #3264FF;

}

/* multi carousel styles */

.carouselImageWrapper {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.carouselImageWrapper>img {
    width: 100%;
    height: 100%;
}

.carouselImageWrapper>img:hover {
    transform: scale(1.1);
    transition: 1s;
}




/* tour styles */

.tourWrapper {
    margin: 10px 10px;
    width: 265px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #eae6e6;

}

.tourWrapper>img {
    width: 100%;
    height: 150px;
}

.tourDetailsBtnContainer {
    padding: 10px;
    margin-top: -20px;
}

.TourDetailsBtnStyles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eae6e6;
    height: 35px;
    padding: 0px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.TourDetailsBtnStyles:hover {
    border: 1px solid rgb(99, 216, 216);
}

.TourDetailsBtnStyles>div {
    display: flex;
    align-items: center;

}

.TourDetailsBtnStyles>div>p {
    margin-left: 20px;
    font-size: 14px;
}


/* newsletter div styles */

.newsletterDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #eae6e6;
    margin-bottom: 60px;
}

.newsLetterIconDiv {
    width: 25%;
    display: flex;
    justify-content: center;
}

.newsLetterBrifDiv {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}

.newsLetterBrifDiv>h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}

.newsLetterInputDiv {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsLetterInputDiv>input {
    outline: none;
    width: 70%;
    margin-right: 10px;
    height: 26px;
}


.newsLetterInputDiv>button {
    border: none;
    height: 33px;
    width: 100px;
    cursor: pointer;
}

.envolopeIcon {
    font-size: 80px;
    color: #3264FF;
}


@media(max-width:1270px) {
    .tourWrapper {
        width: 230px;

    }
}

@media(max-width:1100px) {
    .newsLetterIconDiv {
        width: 20%;
    }


    .newsLetterInputDiv {
        width: 35%;

    }
}


@media(max-width:1024px) {
    .carouselImageWrapper {
        width: 450px;
    }
}

@media(max-width:1000px) {
    .downnavBar>ul>li {
        margin-right: 10px;
        font-size: 15px;

    }

    .textCompContainer>h1 {
        font-size: 22px;
        font-weight: 600;
    }

    .newsletterDiv {
        flex-wrap: wrap;
        padding: 10px;
        padding-bottom: 20px;
    }

    .newsLetterIconDiv {
        width: 40%;
    }

    .newsLetterBrifDiv {
        width: 40%;
    }



    .newsLetterInputDiv {
        width: 100%;
        margin-top: 30px;

    }

    .newsLetterInputDiv>input {
        width: 50%;
    }
}

@media(max-width:970px) {
    .carouselImageWrapper {
        width: 400px;
    }
}

@media(max-width:880px) {
    .searchBar {
        height: 25px;
        width: 100%;
        border-radius: 2px;
    }
}

@media(max-width:860px) {


    .carouselImageWrapper {
        width: 360px;
        margin-left: 30px
    }
}

@media(max-width:767px) {


    .carouselImageWrapper {
        width: 300px;
        margin-left: 30px;
    }

    .tourWrapper {
        width: 300px;
    }

    .tourDetailsBtnContainer>h3 {
        font-size: 16px;
        font-weight: 500;
    }
}


@media(max-width:740px) {
    .downnavBar>ul>li {
        margin-right: 10px;
        font-size: 13px;

    }
}


@media(max-width:640px) {
    .downnavBar>ul {
        display: none;
    }

    .menuNavDiv {
        display: block;
    }

    .tourWrapper {
        width: 250px;
    }

    .carouselImageWrapper {
        width: 250px;
        height: 150px;
        margin-left: 30px;
    }
}

@media(max-width:550px) {


    .carouselImageWrapper {
        width: 220px;
        height: 150px;
    }

    .textCompContainer>h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .envolopeIcon {
        font-size: 60px;
    }

    .newsletterDiv {
        padding: 20px;
    }

    .newsLetterIconDiv {
        width: 100%;
        justify-content: center;
    }

    .newsLetterBrifDiv {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .newsLetterBrifDiv>h4 {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .newsLetterBrifDiv>p {
        text-align: center;
        font-size: 14px;
    }

    .newsLetterInputDiv {
        margin-top: 20px;

    }
}

@media(max-width:536px) {
    .tourWrapper {
        width: 220px;
    }

}

@media(max-width:500px) {


    .carouselImageWrapper {
        width: 400px;
        height: 180px;
        margin-left: 20px;
    }
}

@media(max-width:480px) {

    .tourWrapper {
        width: 200px;
    }

}

@media(max-width:464px) {

    .tourWrapper {
        width: 350px;
        margin-left: 40px;
    }

}

@media(max-width:450px) {

    .carouselImageWrapper {
        width: 350px;
        height: 160px;
        margin-left: 20px;
    }

}

@media(max-width:420px) {
    .carouselImageWrapper {
        width: 350px;
        height: 160px;
        margin-left: 20px;
    }

    .tourWrapper {
        width: 320px;
        margin-left: 30px;
    }

}

@media(max-width:400px) {


    .carouselImageWrapper {
        width: 320px;
        height: 160px;
        margin-left: 20px;
    }

    .tourWrapper {
        width: 320px;
        margin-left: 20px;
    }


    .smallScreenNavItem {

        width: 250px;
    }

}

@media(max-width:380px) {


    .carouselImageWrapper {
        width: 300px;
        height: 160px;
        margin-left: 20px;
    }

    .tourWrapper {
        width: 300px;
        margin-left: 20px;
    }

}