.tabMainDiv {
    margin-top: 100px;
}

.selecttedTabsContainer {
    display: flex;
    align-items: center;
    color: #fff;
}

.tabs {
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.tabsItemWrapper {
    background-color: #fff;
    color: #000;
}

.tabIconWrapper {
    display: block;
    margin-top: 5px;

}

.tabs>span:first-child {
    margin-right: 5px;
}

.selectedTabWrapper {
    background-color: #fff;
    padding: 40px 20px;
    min-height: 80px;
    box-shadow: 2px 5px 3px #c4bfbf;
    overflow: visible;
}

@media(max-width:980px) {
    .selectedTabWrapper {
        background-color: #fff;
        padding: 0px 0px;
        box-shadow: 2px 5px 3px #c4bfbf;

    }
}


@media(max-width:767px) {
    .tabs {
        padding: 0 10px;
        height: 35px;
    }

    .tabs>p {
        font-size: 15px;
    }
}