.tabsConatiner {}

.tablistContainer {
    border: none;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    cursor: pointer;
}

.item {
    margin-right: 40px;
    font-size: 16px;
    border: 1px solid #ede4e4;
    padding: 5px 10px;
}

.active {
    border: 1px solid blue;
}

/* recomendedDataWrapper stles */

.recomendedDataWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    cursor: pointer;
    margin-bottom: 70px;
}

.recomendedImgWrapper {
    width: 250px;
    min-height: 300px;
}

.recomendedImgWrapper>img {
    width: 90%;
    height: 200px;
}

.recomendedTextandRatingWrapper {
    margin-top: -10px;
}



.recomendedReviewWrapper {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.recomendedReviewWrapper>span:first-child {
    background-color: blue;
    margin-right: 5px;
    padding: 3px 6px;
    color: #fff;
    font-size: 18px;
}

.recomendedPriceDiv {
    display: flex;
    align-items: center;
}

.recomendedPriceDiv>div {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.recomendedPriceDiv>p {
    margin-left: 5px;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}


@media(max-width:900px) {
    .recomendedDataWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
        cursor: pointer;
        margin-bottom: 70px;
    }

    .recomendedImgWrapper {
        width: 250px;
        min-height: 300px;
        margin-bottom: 30px;
    }
}

@media(max-width:836px) {
    .item {
        margin-right: 20px;
        font-size: 14px;
        padding: 3px 6px;
    }

    .active {
        border: 1px solid blue;
    }
}

@media(max-width:590px) {
    .recomendedDataWrapper {
        margin-left: 20px;
    }

    .recomendedImgWrapper>img {
        width: 90%;
        height: 160px;
    }
}

@media(max-width:612px) {
    .tablistContainer {
        margin-left: -20px;
    }

    .item {
        margin-right: 10px;
        font-size: 13px;
        border: 1px solid #ede4e4;
        padding: 3px 4px;
    }

    .active {
        border: 1px solid blue;
    }
}

@media(max-width:550px) {


    .recomendedImgWrapper {
        width: 200px;
        min-height: 200px;

    }
}

@media(max-width:480px) {
    .tablistContainer {
        flex-wrap: wrap;
    }

    .item {
        margin-top: 10px;
    }
}

@media(max-width:450px) {
    .recomendedDataWrapper {
        margin-left: 20px;
    }

    .recomendedImgWrapper {
        width: 180px;
        min-height: 180px;

    }
}

@media(max-width:400px) {

    .recomendedImgWrapper {
        width: 320px;
        min-height: 200px;

    }
}